html {
box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.masthead {
	padding: 1em;
	margin: 0em;
	background-image: url(../images/Beetles.svg), url(../images/Beetles.svg), url(../images/waves.png);
	background-size: 40px auto, 40px auto, 200px;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left center, right center, left;
	text-align: center;
	padding: .5em;
	}

.ground {
	width: 100%;
	padding: 0;
	margin: 0;

}


h1 {
	color: #663300;
	padding: 0em 0em;
	margin: 0em;
	font-family: 'dosis';

}


h2 {
		font-family: 'dosis';
	font-size: 2rem;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	border-top: none;

}
body {
	margin: 0em;
}

.bdiv {
		background-color: white;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}



.beetles25 {
	position: absolute;
	top: 40%;
	left: 0%;
	text-align: center;
	color: white;
	display: inline-block;
	font-size: 1.5em;
	width: 100%;
	text-shadow: #222222 1px 3px 2px;
}



img {
width: 100%;
display: block;}

.box {

padding: 0em;
position: relative;
margin: 0em;
width: 100%;
display: inline-block;

}

.box-2 {
	padding: 0em;
position: relative;
margin: 0em;
width: 100%;
display: inline-block;
}




a:hover {
		background-color: #663300;
	display: block;
	text-align: center;

}

.btn-1:hover {
	color: darkgreen;
}

.btn-1{
display: inline-block;
background-color: #a8ae98;
border-radius: 10px;
padding: 0.5em 1.75em;
text-decoration: none;
color: #fff;
background-image: linear-gradient(to bottom, #6FC000, #388200);
position: absolute;
left: 8%;
top: 70%;
font-family: 'Dosis', sans-serif;
}

.btn-2:hover {
	color: darkgreen;
}

.btn-2{
display: inline-block;
background-color: #a8ae98;
border-radius: 10px;
padding: 0.5em 1.75em;
text-decoration: none;
color: #fff;
background-image: linear-gradient(to bottom, #6FC000, #388200);
position: absolute;
right: 13%;
top: 70%;
font-family: 'Dosis', sans-serif;}


.btn-3:hover {
	color: darkgreen;
}

.btn-3{
display: inline-block;
background-color: #a8ae98;
border-radius: 10px;
padding: 0.5em 1.75em;
text-decoration: none;
color: #fff;
background-image: linear-gradient(to bottom, #6FC000, #388200);
position: absolute;
left: 10%;
top: 70%;
font-family: 'Dosis', sans-serif;}

.btn-4:hover {
	color: darkgreen;
}

.btn-4{
display: inline-block;
background-color: #a8ae98;
border-radius: 10px;
padding: 0.5em 1.75em;
text-decoration: none;
color: #fff;
background-image: linear-gradient(to bottom, #6FC000, #388200);
position: absolute;
right: 10%;
top: 70%;
font-family: 'Dosis', sans-serif;}

.stag-b {
	width: 50%;
	margin: 0em;


	color: white;
	display: block;
		float: right;

}

.dung-b {
	width: 50%;
	margin: 0em;

	color: white;
	display: block;
	float: left;


}

.tortoise-b {
	width: 50%;
	margin: 0em;

	background-color: pink;
	color: white;
	display: block;
		float: right;

}

.ant-b {
	width: 50%;
	margin: 0em;
	padding: 0em;

	display: block;
		float: left;


}

nav {
	font-weight: normal;
	color: white;
	font-family: "dosis";
	text-align: center;
	padding: 0em;
	overflow: hidden;
	}



nav li {
	font-family: 'dosis';
	text-align: center;
	margin: 0em;
	border: 0em;
	display: block;
	width: 25%;
	float: left;
	padding: 6px 25px 7px 7px;
		background-color: #a79080;
		font-size: 20px;
}

li:hover {
	background-color: #663300;
	display: block;
	padding: 0em 0em 0em 0em;
	margin: 0em;

}


.btn-1:hover {
	background-color: #663300;
	display: block;
	text-align: center;

}


nav a{
	padding: .5em .5em .5em .5em;
	border-radius: 0px;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}



footer {

	padding: 0em 1em 1em 2em;
	margin: 0em;
	display: inline-block;
	width: 100%;

}

.fdiv {
		background-color: #a79080;
	padding: 1em 1em 1em 1em;
	width: 100%;
	position: relative;
}

.beetle-svg {
width: 5%;
position: absolute;
left: 45%;
bottom: 50%;

}

ul {
padding: 0;
list-style-type: none;
font-size: 20px;}
